.table {
  width: 100%;
  table-layout: fixed;
  td,
  th {
    border: 1px solid #000;
    padding: 10px;
  }
  tr:nth-child(even) {
    td,
    th {
      border: none;
      padding: 0;
    }
  }
}
.answer {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.4s;
  padding: 0;
  .--active & {
    grid-template-rows: 1fr;
    padding-block: 20px;
  }
  > div {
    overflow: hidden;
    padding-inline: 20px;
  }
}

.paging {
  text-align: center;
  margin-top: 20px;
}
